{{- $alt := .PlainText | safeHTML -}}
{{- $lazyLoading := .Page.Site.Params.enableImageLazyLoading | default true -}}
{{- $dest := .Destination -}}
{{- $url := urls.Parse $dest -}}

{{- $isLocal := not $url.Scheme -}}
{{- $isPage := and (eq .Page.Kind "page") (not .Page.BundleType) -}}
{{- $startsWithSlash := hasPrefix $dest "/" -}}
{{- $startsWithRelative := hasPrefix $dest "../" -}}

{{- $resource := false -}}

{{- if and $dest $isLocal -}}
  {{- if $startsWithSlash -}}
    {{- with or (.PageInner.Resources.Get $url.Path) (resources.Get $url.Path) -}}
      {{- $resource = . -}}
      {{- $query := cond $url.RawQuery (printf "?%s" $url.RawQuery) "" -}}
      {{- $fragment := cond $url.Fragment (printf "#%s" $url.Fragment) "" -}}
      {{- $dest = printf "%s%s%s" .RelPermalink $query $fragment -}}
    {{- else -}}
      {{- $dest = (relURL (strings.TrimPrefix "/" $dest)) -}}
    {{- end -}}
  {{- else -}}
    {{- with .PageInner.Resources.Get (strings.TrimPrefix "./" $url.Path) -}}
      {{- $resource = . -}}
      {{- $query := cond $url.RawQuery (printf "?%s" $url.RawQuery) "" -}}
      {{- $fragment := cond $url.Fragment (printf "#%s" $url.Fragment) "" -}}
      {{- $dest = printf "%s%s%s" .RelPermalink $query $fragment -}}
    {{- else -}}
      {{- if and $isPage (not $startsWithRelative) -}}
        {{ $dest = (printf "../%s" $dest) }}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $attributes := "" -}}
{{- range $key, $value := .Attributes -}}
  {{- if $value -}}
    {{- $pair := printf "%s=%q" $key ($value | transform.HTMLEscape) -}}
    {{- $attributes = printf "%s %s" $attributes $pair -}}
  {{- end -}}
{{- end -}}

{{- if and $resource (reflect.IsImageResourceProcessable $resource) -}}
  {{- with .Title -}}
    <figure>
      {{- partial "processed-image.html" (dict "resource" $resource "alt" $alt "absolute" true) -}}
      <figcaption>{{ . }}</figcaption>
    </figure>
  {{- else -}}
    {{- partial "processed-image.html" (dict "resource" $resource "alt" $alt "absolute" true) -}}
  {{- end -}}
{{- else -}}
  {{- with .Title -}}
    <figure>
      <img src="{{ $dest | safeURL }}" title="{{ . }}" alt="{{ $alt }}" {{ $attributes | safeHTMLAttr }}{{ if $lazyLoading }} loading="lazy"{{ end }} />
      <figcaption>{{ . }}</figcaption>
    </figure>
  {{- else -}}
    <img src="{{ $dest | safeURL }}" alt="{{ $alt }}" {{ $attributes | safeHTMLAttr }}{{ if $lazyLoading }} loading="lazy"{{ end }} />
  {{- end -}}
{{- end -}}
