{{- $image := .resource -}}
{{- with .src -}}
  {{- $image = resources.Get . -}}
{{- end -}}
{{- $alt := default "" .alt -}}
{{- $maxWidth := default 1024 .maxWidth -}}
{{- $absolute := default false .absolute -}}
{{- $class := default "" .class -}}
{{- with $image -}}
  {{- $processed := . -}}
  {{- if and (reflect.IsImageResourceProcessable $processed) (gt $processed.Width $maxWidth) -}}
    {{- $processed = $processed.Resize (printf "%dx lanczos" $maxWidth) -}}
  {{- end -}}
  {{- $source := $processed.RelPermalink -}}
  {{- if $absolute -}}
    {{- $source = $processed.Permalink -}}
  {{- end -}}
  {{- if reflect.IsImageResourceProcessable $processed -}}
    {{- $webp := $processed.Process "webp q95" -}}
    {{- $webpSource := $webp.RelPermalink -}}
    {{- if $absolute -}}
      {{- $webpSource = $webp.Permalink -}}
    {{- end -}}
    <picture>
      <source srcset="{{ $webpSource }}" type="image/webp" />
      <img src="{{ $source }}" width="{{ $processed.Width }}" height="{{ $processed.Height }}" alt="{{ $alt }}"{{ with $class }} class="{{ . }}"{{ end }} loading="lazy" decoding="async" />
    </picture>
  {{- else -}}
    <img src="{{ $source }}" alt="{{ $alt }}"{{ with $class }} class="{{ . }}"{{ end }} loading="lazy" decoding="async" />
  {{- end -}}
{{- else -}}
  {{- errorf "Image resource not found: %v" (or $.src "no src or resource passed") -}}
{{- end -}}
