{{- $src := .src -}}
{{- $alt := default "" .alt -}}
{{- $maxWidth := default 1024 .maxWidth -}}
{{- with resources.Get $src -}}
  {{- $image := . -}}
  {{- if and (reflect.IsImageResourceProcessable $image) (gt $image.Width $maxWidth) -}}
    {{- $image = $image.Resize (printf "%dx lanczos" $maxWidth) -}}
  {{- end -}}
  <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $alt }}" loading="lazy" decoding="async" />
{{- else -}}
  {{- errorf "Image resource not found: %s" $src -}}
{{- end -}}
